# ETL Population Datasets

In [1]:
import pandas as pd

In [2]:
pop_raw_new = pd.read_csv('Population\ACSST5Y2011.S0101-Data.csv', low_memory=False)
pop_raw_new.rename(columns=pop_raw_new.iloc[0], inplace = True)
pop_raw_new = pop_raw_new.tail(-1)
pop_raw_new['pop_year'] = 2011
pop_raw_new['pop_zip_code'] = pop_raw_new['Geographic Area Name'].str[-5:].astype('int')
pop_raw_new['population'] = pop_raw_new['Total!!Estimate!!Total population'].astype('float')
pop_raw_new =  pop_raw_new[['pop_zip_code','population','pop_year']]
pop_raw = pop_raw_new.copy()
print(pop_raw.shape)
pop_raw.head()

(33144, 3)

   pop_zip_code  population  pop_year
1           601     18533.0      2011
2           602     41930.0      2011
3           603     54475.0      2011
4           606      6386.0      2011
5           610     29111.0      2011

In [3]:
for i in range(2012,2022):
    print(i)
    path = 'Population\ACSST5Y'+str(i)+'.S0101-Data.csv'
    pop_raw_new = pd.read_csv(path, low_memory=False)
    pop_raw_new.rename(columns=pop_raw_new.iloc[0], inplace = True)
    pop_raw_new = pop_raw_new.tail(-1)
    pop_raw_new['pop_year'] = i
    pop_raw_new['pop_zip_code'] = pop_raw_new['Geographic Area Name'].str[-5:].astype('int')
    try: 
        pop_raw_new['population'] = pop_raw_new['Total!!Estimate!!Total population'].astype('float')
    except:
        pop_raw_new['population'] = pop_raw_new['Estimate!!Total!!Total population'].astype('float')
    pop_raw_new =  pop_raw_new[['pop_zip_code','population','pop_year']]
    pop_raw = pd.concat([pop_raw, pop_raw_new], ignore_index=True)

print(pop_raw.shape)
pop_raw.head()

2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
(364998, 3)

   pop_zip_code  population  pop_year
0           601     18533.0      2011
1           602     41930.0      2011
2           603     54475.0      2011
3           606      6386.0      2011
4           610     29111.0      2011

In [4]:
# Add 2010 using 2011 data, 2022 and 2023 using 2021 values
print('2010')
path = 'Population\ACSST5Y2011.S0101-Data.csv'
pop_raw_new = pd.read_csv(path, low_memory=False)
pop_raw_new.rename(columns=pop_raw_new.iloc[0], inplace = True)
pop_raw_new = pop_raw_new.tail(-1)
pop_raw_new['pop_year'] = 2010
pop_raw_new['pop_zip_code'] = pop_raw_new['Geographic Area Name'].str[-5:].astype('int')
try: 
    pop_raw_new['population'] = pop_raw_new['Total!!Estimate!!Total population'].astype('float')
except:
    pop_raw_new['population'] = pop_raw_new['Estimate!!Total!!Total population'].astype('float')
pop_raw_new =  pop_raw_new[['pop_zip_code','population','pop_year']]
pop_raw = pd.concat([pop_raw, pop_raw_new], ignore_index=True)

for i in range(2022,2024):
    print(i)
    path = 'Population\ACSST5Y2021.S0101-Data.csv'
    pop_raw_new = pd.read_csv(path, low_memory=False)
    pop_raw_new.rename(columns=pop_raw_new.iloc[0], inplace = True)
    pop_raw_new = pop_raw_new.tail(-1)
    pop_raw_new['pop_year'] = i
    pop_raw_new['pop_zip_code'] = pop_raw_new['Geographic Area Name'].str[-5:].astype('int')
    try: 
        pop_raw_new['population'] = pop_raw_new['Total!!Estimate!!Total population'].astype('float')
    except:
        pop_raw_new['population'] = pop_raw_new['Estimate!!Total!!Total population'].astype('float')
    pop_raw_new =  pop_raw_new[['pop_zip_code','population','pop_year']]
    pop_raw = pd.concat([pop_raw, pop_raw_new], ignore_index=True)
print(pop_raw.shape)
pop_raw.tail()

2010
2022
2023
(465690, 3)

        pop_zip_code  population  pop_year
465685         99923        13.0      2023
465686         99925       917.0      2023
465687         99926      1445.0      2023
465688         99927        11.0      2023
465689         99929      2161.0      2023

In [5]:
pop_raw.to_csv('population_zip_year.csv')